/* LAYOUT */
.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    top: 115px;
    left: 120px;
    background-image: url('../menu/menu-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 540px;
    width: 343px;
    padding: 60px 40px 60px 40px;
    font-family: 'marker';
    z-index: 20;
    transition-duration: .3s;
}

.menu a {
    color: #007178;
    font-size: 22px;
    text-decoration: none;
    position: relative;
}

.menu a::after {
    left: -100px;
    transition-duration: .3s;
    content: '';
    background-image: url('../menu/selecao.png');
    width: 213px;
    height: 10px;
    bottom: -10px;
}

.menu a:hover::after {

    left: 0;
    position: absolute;
    transition-duration: .3s;
}

.menu-btn {
    position: fixed;
    border: none;
    width: 70px;
    height: 80px;
    background-color: transparent;
    top: 125px;
    left: 30px;
    transition-duration: .3s;
    z-index: 100;
    margin-bottom: 15px;
}

.menu-btn img {
    width: 100%;
}

.menu-btn:hover {
    transform: scale(1.05);
    transition-duration: .3s;
}

.menu.hidden {
    left: -800px;
    transition-duration: .3s;
}

.pagina-2 .menu,
.pagina-3 .menu {
    justify-content: flex-start;
    padding-right: 20px;
    padding-left: 20px;
}

.pagina-2 .menu a,
.pagina-3 .menu a {
    margin-bottom: 40px;
}

/* .audio-ingles {
    display: block;
} */


.img-menor {
    width: 50%;
}

.img-menor1 {
    width: 70%;
    text-align: center;
}

.margem {
    margin-top: -75px;
}

p {
    word-wrap: break-word;
}

.img-maior {
    width: 70%;
}

.bg-video {
    background-image: url(../tela_inicial/video_bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 754px;
    height: 572px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header.titulo-conteudo {
    position: absolute;
    width: 100%;
    padding-top: 15px;
    z-index: 99;
}

header.titulo-conteudo .container {
    background-color: transparent;
}

footer {
    position: absolute;
    margin-top: -90px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

footer.footer_bg_1 {
    margin-top: -220px;
}

footer.container {
    background-color: transparent;
}

.pagination {
    justify-content: center;
}

.pagination li.active .btn-sesc {
    transform: translateY(-3px);
    box-shadow: 2px 2px 2px #333;
}

.bg-1 {
    background-image: url('../1/background.png');
    margin-top: -20px;
    padding-top: 100px;
    padding-bottom: 240px;
}

.bg-1 .container {
    position: relative;
}

.bg-2 {
    background-image: url('../2/background.png');
    margin-top: -20px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.bg-3 {
    background-image: url('../3/background.png');
    margin-top: -20px;
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
}

.bg-3 h3,
.bg-3 h4 {
    color: white;
}

.bg-4 {
    background-image: url('../3/background.png');
    margin-top: -20px;
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
}

.bg-5 {
    background-image: url('../2/background.png');
    margin-top: -20px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.bg-6 {
    background-image: url('../2/background.png');
    margin-top: -20px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.bg-1 .container,
.bg-2 .container,
.bg-3 .container,
.bg-4 .container,
.bg-5 .container,
.bg-6 .container {
    background-color: transparent;
}

.refs .container {
    margin-top: -80px;
    padding: 100px 35px 25px 35px;
}

.refs {
    background-image: url('../referencias/background_inserir_fundo_branco.png');
    margin-top: -20px;
    padding-top: 100px;
    padding-bottom: 100px;
}

figure {
    margin: 35px auto;
}

figcaption {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
}

h3 {
    font-size: 22px;
    margin-top: 45px;
    margin-bottom: 20px;
}

.bs-tooltip {
    color: #333;
    text-decoration: none;
    border-bottom: 2px dashed #333;
    cursor: pointer;
}

.bg-3 .bs-tooltip,
.bg-4 .bs-tooltip {
    color: white;
    border-bottom: 2px dashed white;
}

.bg-3 h2,
.bg-3 h3,
.bg-4 h2,
.bg-4 h3 {
    color: white;
}

.bs-tooltip:hover {
    color: #333;
}

.caixa {
    background-color: #00828b;
    color: white;
    border-radius: 18px;
    border: none;
    margin: 35px auto;
}

.caixa.icone {
    padding: 20px;
    padding-left: 70px;
}

.caixa.icone p {
    color: white;
}

.caixa.icone.praticar p,
.caixa.icone.praticar figcaption {
    color: #333;
}

.bg-1 .caixa p,
.bg-2 .caixa p {
    color: white;
    margin-bottom: 0;
    margin-top: 0;
}

.icone::before {
    background-size: contain;
    background-color: transparent;
    filter: drop-shadow(1px 1px 3px #333);
    top: 50%;
    transform: translateY(-50%);
}

.icone.praticar {
    background-color: transparent;
    border: 2px solid #00828b;
    margin: 90px auto 40px auto;
    padding: 20px;
}

.bg-3 .icone.praticar {
    background-color: white;
    color: #333;
}

.bg-3 .icone.praticar h3 {
    color: #333;
}

.icone.praticar::before {
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.img_float_1 {
    position: absolute;
    bottom: -240px;
    right: -100px;
    max-height: 250px;
}

.img_float_fig1 {
    position: absolute;
    top: 272px;
    left: 504px;
    max-height: 250px;
}

.img_float_fig2 {
    position: absolute;
    top: 520px;
    right: 500px;
    max-height: 250px;
}



.card-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
}

.card {
    margin: 10px;
    width: 50%;
    max-width: 325px;
    color: black;
    padding: 10px;
    text-align: center;
    line-height: 1;
    box-shadow: 2px 2px 5px black;
    border: 2px solid black;
}

.card p {
    color: black;
}

.ilustra-card {
    height: 200px;
    width: auto;
    margin-bottom: 26px;
}

.tooltip-p {
    background-color: rgba(0, 130, 139, .8);
    border: 2px solid rgb(0, 130, 139);
    padding: 25px 35px;
    color: white;
    cursor: pointer;
    width: 80%;
    margin: 40px auto;
}

.tooltip-p p {
    margin: 0;
    font-size: 18px;
}

.tooltip-p:hover {
    box-shadow: 1px 1px 4px #333;
}

.tooltip .tooltip-inner {
    font-size: 16px;
    max-width: 500px;
    padding: 15px;
}

.ytb {
    height: 300px;
    width: 540px;
    max-width: 100%;
    margin: 40px auto;
    display: block;
}

.painel-gaitinha .accordion-button {
    font-family: unset;
}

.espera {
    background-color: #333;
    display: block;
    width: 420px;
    height: 300px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    color: white;
}

header#topo {
    position: relative;
}

.boxCenterCnt{
    margin-top: 70px;
    margin-bottom: 70px;
}
.boxCenterCnt img{
    max-width: 150px;
}
.boxCenterCnt p{
    max-width: 450px;
}
.audioboxmd .col{
    max-width: 180px;
}
.audioboxmd .col:first-child, .audioboxmd.audioboxgrande .col:first-child{
    max-width: 130px;
}
/* .audioboxmd.audioboxgrande .col:first-child{
    max-width: 130px;
} */
.audioboxmd.audioboxgrande .col{
    max-width: 350px;
}
.audioboxmd .sesc-audio-player input[type=range], .audioboxmd .btn-pause {
    display: none;
}
.sesc-audio-player input[type=range], .btn-pause {
    display: none;
}
.sesc-audio-player.onblock input[type=range], .sesc-audio-player.onblock .btn-pause {
    display: inline-block;
}

.box-round{
    margin: 0 auto;
    border-radius: 50%;
    background-color: #004f53;
    width: 400px;
    height: 300px;
    position: relative;
}
.box-round img{
    position: absolute;
    right: -10px;
    bottom: -00px;
    max-width: 100px;
}
.box-round p{
    max-width: 300px;
}
/* .card-row > div */
.box-chocolatecake, .cardplayer{ position: relative;}
.cardplayer{
    padding-bottom: 50px;
}
.cardplayerAudio{ position: absolute;
    background-color: transparent;
    top: 320px;
    left: 0px;
    right: 0;
    margin: 0 auto;
    max-width: 100px;
}
.cardplayerAudio2{ position: absolute;
    background-color: transparent;
    top: 330px;
    left: 0px;
    right: 0;
    margin: 0 auto;
    max-width: 100px;
}
.chocolatecake{ position: absolute;
    background-color: transparent;
    top: 420px;
    left: -150px;
    right: 0;
    margin: 0 auto;
    max-width: 100px;
}
@media (max-width: 2280px) {
    .img_float_fig1 {
        position: absolute;
        top: 272px;
        left: 0;
        max-height: 250px;
    }

    .img_float_fig2 {
        position: absolute;
        top: 520px;
        right: 0;
        max-height: 250px;
    }
}

@media (max-width: 1024px) {
    .img_float_1 {
        position: absolute;
        bottom: -240px;
        right: -48px;
        max-height: 250px;
    }
}

@media (max-width: 1000px) {
    .img_float_1 {
        max-height: 150px;
        right: 50%;
        transform: translateX(50%);
    }
}

@media (max-width: 768px) {
    .audio-ingles {
        width: 90%;
    }

    .margem {
        margin-top: unset;
    }
}

@media (max-width: 700px) {
    .menu {
    left: 0px;
    max-width: 100%;
    }

    .card {
        width: 100%;
    }

    .card-row {
        flex-direction: column;
    }

    .img_float_1 {
        max-height: 150px;
        right: 50%;
        transform: translateX(50%);
    }

    .img-1 {
        max-height: 300px;
    }
}

@media (max-width: 500px) {
    .menu-btn{
        top: 10px;
        left: 10px;
    }
    .bg-video {
        background-image: unset;
        background-size: unset;
        background-repeat: unset;
        width: unset;
        height: unset;
        display: unset;
        justify-content: unset;
        align-items: unset;
    }
}