body {
    /* background-image: url('../img/01_intro/intro-bg.png'); */
    background-color: #9589ad;
}

p {
    font-size: 18px;
}

.titulo {
    background-image: url('../img/01_intro/intro-header.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 201px;
}

.titulo h1 {
    color: black;
    text-transform: uppercase;
    font-style: italic;
    margin: 0;
    font-size: 48px;
}

.destaque-final::after {
    background-image: unset;
}


.container { 
    background-color: transparent;
}

.pd-0 {
    padding: 0;
}

.container.bloco-1 {
    border: solid 2px black;
    padding: 15px 60px;
    background-image: url('../img/01_intro/fundo1280.png');
    background-position: center;
}

.bloco-2 {
    min-height: 400px;
    background-image: url('../img/01_intro/intro1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    
}

.bloco-2 .row {
    min-height: 400px;
    display: flex;
    align-items: center;
    padding: 15px 30px;
}

.caixa {
    background-color: white;
    border: 3px solid black;
    transform: rotate(1deg);
    
}

.caixa.icone {
    padding: 50px;
    padding-left: 100px;
}

.caixa p {
    transform: rotate(-1deg);
    color: black;
}

.icone::before {
    top: 53%;
    transform: translateY(-50%);
    left: 10px;
    
}

.icone.pergunta::before {
    background-image: url('../img/01_intro/ico-pergunta.png');
    
}