body {
    /* background-image: url('../img/06_diversidade_cultural/cultural-bg.png'); */
    background-color: #225656;
}

.bloco-2 {
    background-image: url('../img/06_diversidade_cultural/diversidade1.jpg');
}

.bloco-3 {
    background-image: url('../img/06_diversidade_cultural/diversidade.png');
}

.bloco-2 *,
.bloco-3 * {
    color: white;
}

.destaque-final::after {
    background-image: url('../img/medalhas/medalha_6.png');
}


.titulo {
    background-image: url('../img/06_diversidade_cultural/cultural-header.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 201px;
}

#fig-9 {
    width: 350px;
}

@keyframes parallax-2 {
    0% {top: -50px;}
    25% {top: -30px;}
    75% {top: -60px;}
    100% {top: -50px;}
}