@font-face {
    font-family: FranklinGothic;
    src: url('../../../../assets/font/LibreFranklin/LibreFranklin-Regular.woff');
}

@font-face {
    font-family: 'Libre Franklin Bold';
    font-style: normal;
    font-weight: 600;
    src: local('Libre Franklin Bold'), url('LibreFranklin-Bold.woff') format('woff');
}

h3 {
    font-size: 1.4rem;
}

body {
    background-attachment: fixed;
    font-family:'FranklinGothic', serif;
    overflow-x: hidden;
}

p {
    font-size: 20px;
}

figcaption {
    text-align: center;
    margin: 15px auto;
    line-break: anywhere;
}

iframe {
    width: 600px;
    height: 360px;
    display: block;
    margin: 2em auto 1em auto;
    border-radius: 5px;
}

.titulo {
    background-color: black;
    text-align: center;
    padding-top: 75px;
    
}

.titulo h1 {
    color: #EADA96;
    text-transform: uppercase;
    font-style: italic;
    margin: 0;
    font-size: 48px;
}



.container { 
    background-color: transparent;
}

.pd-0 {
    padding: 0;
}

.container.bloco-1 {
    border: solid 2px black;
    padding: 15px 60px;
    background-image: url('../img/01_intro/fundo1280.png');
    background-position: center;
}

.bloco-2 {
    min-height: 400px;
    background-image: url('../img/01_intro/intro1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    
}

.bloco-3 {
    min-height: 400px;
}

.bloco-3 .row {
    min-height: 400px;
    display: flex;
    align-items: center;
    padding: 15px 30px;
}

.bloco-2 .row {
    min-height: 400px;
    display: flex;
    align-items: center;
    padding: 15px 30px;
}

.caixa {
    background-color: white;
    border: 3px solid black;
    /* transform: rotate(1deg); */
    margin: 1em auto;
    width: 90%;
    box-shadow: 2px 2px 5px black;
}

.caixa.icone {
    padding: 50px;
    padding-left: 100px;
}

.caixa p {
    /* transform: rotate(-1deg); */
    color: black;
}

.icone::before {
    top: 53%;
    transform: translateY(-50%);
    left: 10px;
    
}

.icone.pergunta::before {
    background-image: url('../img/icones/ico-pergunta.png');
    
}

.icone.saiba-mais::before {
    background-image: url('../img/icones/ico-saiba.png');
}

video {
    background-color: black;
    display: block;
    height: 320px;
    margin: 15px auto;
    border-radius: 5px;
}

.btn-voltar {
    border: 2px solid black;
    padding: 15px;
    width: 200px;
    display: block;
    text-align: center;
    margin: 2em auto;
    border-radius: 5px;
    text-decoration: none;
    color: #EADA96;
    background-color: black;
    font-weight: 800;
    text-transform: uppercase;
    font-style: italic;
    font-size: 20px;
    transition-duration: .3s;
}

.btn-voltar:hover {
    background-color: #EADA96;
    color: black;
    transition-duration: .3s;
}

.parallax-img-01 {
    position: absolute;
    left: 15px;
    top: 500px;
    animation-name: parallax-1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.parallax-img-02 {
    position: absolute;
    right: 0px;
    top: 50px;
    animation-name: parallax-2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.relative {
    position: relative;
}

.destaque-final::before {
    background-image: url('../img/icones/banner-medalha.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    content: "";
    height: 272px;
    width: 301px;
    position: absolute;
    left: -150px;
    top: -120px;
}

.destaque-final::after {
    background-image: url('../img/medalhas/medalha_2.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    content: "";
    height: 118px;
    width: 135px;
    position: absolute;
    right: -50px;
    bottom: -20px;
    animation-name: scale;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.destaque-final {
    padding: 40px 40px;
    background-color: #EADA96;
    border: 3px solid black;
    border-radius: 15px;
    width: 65%;
    display: block;
    margin: 150px auto 1em auto;
    /* transform: rotate(1deg); */
    position: relative;
    box-shadow: 2px 2px 5px black;
}

.destaque-final p {
    /* transform: rotate(-1deg); */
}

.painel-gaitinha .accordion-button {
    border: 2px solid black;
    
}

h2.accordion-header {
    font-family: 'Libre Franklin Bold';
    
}

.painel-gaitinha .accordion-button {
    font-family: 'Libre Franklin Bold';
    font-weight: unset;
}

.painel-gaitinha .accordion-button::before {
    background: url('../../../../assets/img/ico-mais.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #EADA96;
    margin-left: 5px;
    height: 45px;
    width: 45px;
}

.accordion-button:not(.collapsed)::before {
    background: url('../../../../assets/img/ico-menos.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #EADA96;
    margin-left: 5px;
    height: 45px;
    width: 45px;
}

.painel-gaitinha .accordion-body {
    background-color: white;
    border-left: 4px solid #EADA96;
}

.bt-print {
    background-image: url('../img/icones/imprimir.png');
    width: 118px;
    height: 45px;
    border: none;
    background-color: transparent;
}

.bt-print:hover {
    background-image: url('../img/icones/imprimir2.png');
    transform: scale(1);
}

figure img {
    border-radius: 15px;
}

.tooltip-inner {
    max-width: 600px;
    text-align: left;
}

.tooltip-p {
    cursor: pointer;
}

.img-margin {
    margin: 2em auto;
}

.glossario {
    margin: 2em auto;
}

@keyframes scale {
    0% {transform: scale(1);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1);}
}

@keyframes parallax-1 {
    0% {top: 500px;}
    25% {top: 520px;}
    75% {top: 480px;}
    100% {top: 500px;}
}

@keyframes parallax-2 {
    0% {top: 250px;}
    25% {top: 270px;}
    75% {top: 260px;}
    100% {top: 250px;}
}

@media (max-width: 600px) {
    .destaque-final {
        width: 100%;
        margin-top: 20px;
    }
    .destaque-final::before {
        opacity: 0;        
    }

    .bloco-1 {
        background-color: rgb(245, 245, 245);
        background-image: unset !important;
    }

    .caixa.icone {
        padding-left: 45px;
        padding-right: 5px;
    }

    .caixa.icone::before {
        top: -10px;
        left: 0%;
        transform: translateX(-50%);
    }

    .titulo {
        background-image: unset !important;
        background-color: black;
        padding-top: 20px;
        height: 120px !important;
    }
    .titulo h1 {
        color: #EADA96 !important;
        font-size: 32px;
    }

    video {
        width: 100%;
        height: 220px;
    }

    .parallax-img-01,
    .parallax-img-02 {
        display: none;
    }

    @keyframes scale {
        0% {transform: scale(.7);}
        50% {transform: scale(.8);}
        100% {transform: scale(.7);}
    }
}