@font-face {
    font-family: 'whatever';
    src: url('../../pronuncias_assets/font/whatever\ it\ takes.ttf');
}

/* Chrome, Safari, Opera */
@-webkit-keyframes zoom-1 {
    100% {background-size: 100%;}
}
/* Standard syntax */
@keyframes zoom-1 {
    100% {background-size: 100%;}
}
/* Chrome, Safari, Opera */
@-webkit-keyframes zoom-2 {
    100% {background-size: 145%;}
}
/* Standard syntax */
@keyframes zoom-2 {
    100% {background-size: 145%;}
}
@media (max-width:600px){
    .animate {
        -webkit-animation: zoom-2 4s forwards; /* Chrome, Safari, Opera */
        animation: zoom-2 4s forwards;
        background-position: center;
    }
}
@media (min-width: 601px){
    .animate {
        -webkit-animation: zoom-1 4s forwards; /* Chrome, Safari, Opera */
        animation: zoom-1 4s forwards;
    }
}
.ODA_geladeira {
    height: 500px;
    width: 100%;
    background-image: url('../6/2.png');
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 35px auto;
    border-radius: 15px;
}

.bg {
    background-color: rgba(51, 51, 51, .9);
    padding: 30px;
    height: 100%;
    width: 100%;
}
.mensagem_intro {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
}
.mensagem_intro p {
    margin: 0;
}
.ODA_geladeira button {
    max-width: 70%;
    background-color: rgb(245, 245, 215);
    border: none;
    margin: 10px auto;
    box-shadow: 2px 2px 3px #333;
    display: inline-block;
    font-family: 'whatever';
    font-size: 28px;
    font-weight: 600;
    text-align: left;
    padding: 15px 20px;
    line-height: 2rem;
    transition-duration: .3s;
}
.opcoes-container {
    display: flex;
}
.opcao-1 {
    width: 58%;
}
.opcao-2 {
    width: 38%;
}
.ODA_geladeira button:hover {
    transform: scale(1.03);
}
.ODA_geladeira .feedback_positivo {
    background-color: #e0e1e3;
    padding: 8px 15px;
    position: absolute;
    z-index: 99;
    bottom: 0;
    left: 0;
    width: 425px;
    box-shadow: 1px 1px 2px #333;
    display: none;
    line-height: 1.3rem;
}

.ODA_geladeira .feedback_positivo p {
    margin: 0;
}
#modal-erro-geladeira .modal-header {
     background-color: #800000;
}

@media (max-width: 600px) {
    .opcoes-container {
        flex-wrap: wrap;
    }
    .opcoes-container button {
        max-width: 100%;
        width: 100%;
    }
    .ODA_geladeira {
        height: auto;
    }
    .ODA_geladeira.animate {
        height: 300px;
        
    }
}