@font-face {
    font-family: 'whatever';
    src: url('font/whatever\ it\ takes.ttf');
}

.wrapper {
    max-width: 100%;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(35, 35, 35, .6);
}
.bg_ODA {
    margin: 35px auto;
    background-image: url('img/bg.jpg');
}
.word-container {
    padding-bottom: 20px;
}
.word-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.word {
    font-family: 'whatever', cursive;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 40px;
    margin: 10px 15px;
}
.word:hover {
    color: white;
    transform: translateY(-5px);
}
.fitness, .activity {
    font-size: 110px;
}
.healthy {
    
}
.vitamins {
    margin-top: 20px;
    rotate: -3deg;
}
.food {
    margin-top: 80px;
    rotate: -5deg;
    font-size: 60px;
}
.sport {
    margin-bottom: 60px;
    font-size: 55px;
}
.gym {
    margin-bottom: 20px;
}
.exercise {
    rotate: -3deg;
    margin-left: -30px;
    margin-top: -30px;
    font-size: 60px;
}
.muscles {
    margin-top: -15px;
    rotate: 2deg;
    font-size: 55px;
}
.intake {
    margin-top: -50px;
    font-size: 60px;
}
.fitness {
    rotate: -3deg;
}
.activity {
    rotate: 2deg;
}
.success {
    margin-left: -20px;
    rotate: -2deg;
    font-size: 60px;
}
.happiness {
    rotate: 2deg;
}
.energy {
    rotate: -2deg;
    margin-top: -15px;
}
.vital {
    rotate: 3deg;
}
.modal-pronuncia .modal-title {
    display: flex;
    align-items: center;
}
.play-word {
    background-image: url('audio.svg');
    height: 30px;
    width: 35px;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    margin-right: 15px;
    margin-bottom: -5px;
}
.play-word:hover {
    transform: translateY(-2px);
}
.modal-pronuncia .modal-dialog {
    max-width: 700px;
    width: fit-content;
}
.modal-pronuncia .modal-content {
    background-color: #00a7b3;
    color: white;
    /* font-family: 'whatever'; */
    font-size: 30px;
    box-shadow: 3px 3px 9px black;
}
.modal-pronuncia .modal-header {
    position: relative;
}
.modal-pronuncia .close {
    padding: 3px 5px;
    border-radius: 4px;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 10px;
    z-index: 99;
}
.modal-pronuncia .close:hover {
    transform: scale(1.1);
}
.modal-pronuncia .close svg path {
    fill: white;
}
.modal-pronuncia .close span {
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-pronuncia .modal-header {
    border-bottom: none;
    justify-content: end;
    padding-bottom: 0;
    padding-top: 0;
}
.modal-pronuncia h5 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}
.modal-pronuncia .modal-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.modal-pronuncia .texto {
    margin-right: 15px;
    text-align: center;
    padding-left: 10px;
    font-weight: normal;
    
}
.modal-pronuncia .modal-card {
    border-radius: 5px;
    width: auto;
    height: 240px;
    margin: 0;
}
@media (max-width: 1027px){
    .success, .exercise {
        margin-left: 0;
    }
    .food {
        margin-top: 0;
        margin-bottom: 0;
    }
    .gym {
        margin-top: -40px;
        margin-left: -20px;
    }
    .exercise, .muscles, .intake {
        margin-top: 0;
    }
    .modal-pronuncia .modal-dialog {
        max-width: 95%;
    }
    .modal-pronuncia .modal-card {
        max-width: 100%;
    }
}